@import url("fonts/playfair.css");
.product-list {
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 148px;
}
.navbar{
    position: static;
    display: block;
}
.backgroundColour {
    background-color: #004a52;

}
.hoverEfect:hover{
    text-decoration: underline; /* Добавляем подчеркивание */
    color: white;
}
.navbar-light .navbar-nav .nav-link{
    color: white; !important;
}
.rightMenu{
    margin-left: 10%;
}
.rightCart{
    margin-right: 10% !important;
}
.image{
    width: 100%;
    height: 553px;
    background-image: url(LEFTGREEN.png);
    background-size: contain;
}
.product-list-margin{
    margin-left: 10%;
    margin-right: 10%;
}
/*body{*/
/*    background-color: #e5e5e5;*/
/*}*/
.product-list2{
    margin-left: 40%;
    margin-top: -1087px;
}
.product-list3{
    margin-left: 70%;
    margin-top: -1087px;
}
.buttonSize{
    margin-top: 5px;
    width: 177px;
    height: 40px;
    /*color: black;*/
    background-color: white;
    border-color: #004a52;
}

.buttonSize:hover{
    background-color: #004a52;
    color: white;
}
li{
    list-style-type:none;
}
.productName{
    color: black;
    margin-top: 10px;
    text-align: justify;
}
.productName:hover{
    color: black;
}
.productCard{
    margin-left: 148px;
    margin-right: 10%;
    margin-top: 20px;

}
.layer1 {
    /*background-color: #fc0; !* Цвет фона слоя *!*/
    float: left; /* Обтекание по правому краю */
    width: 400px; /* Ширина слоя */
    height: 339px;
    margin-top: 20px;


}
.layer2 {
    border: 1px black;
    /*background-color: #c0c0c0; !* Цвет фона слоя *!*/
    margin-top: 20px;
    width: 400px; /* Ширина слоя */
    height: 339px;
    float: left; /* Обтекание по правому краю */
}

.addToCart {
    margin-bottom: 0;
}
.widthProductCard{
    width: 177px;
    text-align: center;
}
.textAlight{
    margin-top: 5px;
}
.quantity {
    padding-top: 10px;
    margin-right: 60px;

}
.quantity input {
    /*-webkit-appearance: none;*/
    border: none;
    text-align: center;
    width: 32px;
}

.minus-btn{
    /*background-color: white;*/
    /*background-image: url(plus.svg);*/
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.plus-btn{
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.Photo{
    margin-left: 148px;
    width: 250px; /* Ширина слоя */
    height: 162px;
    float: left; /* Обтекание по правому краю */
}
.PriceDescription{
    margin-top: 25px;
    width: 400px; /* Ширина слоя */
    height: 162px;
    float: left; /* Обтекание по правому краю */
}
.CardInCart{
    height: 162px;
    width: 1000px; /* Ширина слоя */
}
.buyButton{
    height: 162px;
    /*float: left; !* Обтекание по правому краю *!*/
}
.buyButtonLocation{
    margin-top: 61px;
}
.green{
    color: #004a52;
    margin-top: 5px;
}

