<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Fragment #1 : Header files contains css and js references -->
<head th:fragment="headerfiles">
    <title>Introduction to SpringBoot Security</title>
    <meta charset="UTF-8"/>
    <link th:href="@{~/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{~/fontawesome/css/all.css}" rel="stylesheet">
    <link th:href="@{~/main.css}" rel="stylesheet">
</head>
<body>

<!-- Fragment #2 : Navbar contains nav links -->
<div class="backgroundColour">
    <nav class="navbar navbar-expand-lg navbar-light backgroundColour">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto rightMenu">
                <li class="nav-item">
                    <a class="nav-link hoverEfect " href="#" th:href="@{~/index}">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link hoverEfect" href="#" th:href="@{~/catalog/list}">Catalog </a>
                </li>
            </ul>
                <ul class="rightCart navbar-nav mr-auto">
                <li class="rightCart nav-item ">
                    <a class="nav-link hoverEfect" href="#" th:href="@{~/cart}">Cart </a>
                </li>
                </ul>


        </div>
    </nav>
</div>
</body>
</html>