<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<h2 class="product-list">Coffee</h2>
<ul class="product-list">
    <li data-th-each="product : ${products}" class="product">
        <div class="widthProductCard">
            <img th:src="${product.image}" alt="Italian Trulli" height="203" width="177"/>
            <br>
            <a class = "productName" data-th-href="@{/catalog/{productId}(productId=${product.id})}"
               data-th-text="${product.title}">
            </a>
            <h5  class="textAlight" th:text="${product.price} + '$'"></h5>
            <form id="addToCart" name="addToCart" action="#" th:action="@{/cart/add/{productId}(productId=${product.id})}"
                  method="post">
                <button class="addToCart buttonSize" id="addProduct" type="submit" name="action">Add to Cart</button>
            </form>
            <br>
            <br>
        </div>
    </li>
</ul>
<ul class="product-list2">
    <li data-th-each="product : ${products}" class="product">
        <div class="widthProductCard">
            <img th:src="${product.image}" alt="Italian Trulli" height="203" width="177"/>
            <br>
            <a class = "productName" data-th-href="@{/catalog/{productId}(productId=${product.id})}"
               data-th-text="${product.title}">
            </a>
            <h5  class="textAlight" th:text="${product.price} + '$'"></h5>
            <form id="addToCart" name="addToCart" action="#" th:action="@{/cart/add/{productId}(productId=${product.id})}"
                  method="post">
                <button class="addToCart buttonSize" id="addProduct" type="submit" name="action">Add to Cart</button>
            </form>
            <br>
            <br>
        </div>
    </li>
    </li>
</ul>
<ul class="product-list3">
    <li data-th-each="product : ${products}" class="product">
        <div class="widthProductCard">
        <img th:src="${product.image}" alt="Italian Trulli" height="203" width="177"/>
        <br>
        <a class = "productName" data-th-href="@{/catalog/{productId}(productId=${product.id})}"
           data-th-text="${product.title}">
        </a>
        <h5  class="textAlight" th:text="${product.price} + '$'"></h5>
        <form id="addToCart" name="addToCart" action="#" th:action="@{/cart/add/{productId}(productId=${product.id})}"
              method="post">
            <button class="addToCart buttonSize" id="addProduct" type="submit" name="action">Add to Cart</button>
        </form>
        <br>
        <br>
        </div>
    </li>
    </li>
</ul>
</body>
</html>
